@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>

<address>
    Discord:
    mrosiak<br />
</address>

<address>
    <strong>Github: </strong> <a href="https://github.com/mrosiak/qpn">https://github.com/mrosiak/qpn</a><br />
</address>